.container{
    width: 100vw;
    background-color: black;
    padding-left: 20vh;
    padding-top: 10vh;
}
h3{
    color: White;
    font-size: 4vh;
    font-weight: 700;
}

.card{
    background-color: #1A1C1E;
    height: 30vh;
    width: 55vh;
    border-radius: 9px;
}