*{
    margin: 0;
    padding: 0;
}

.sidebar{
    background-color: #1A1C1E;
    height: 100vh;
    width: 7vw;
    position: fixed ;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.drawer{
    background-color: black;
    padding: 0.5vh;
    border-radius: 5px;
}

.avtr{
    border-radius: 50%;
    background-color: black;
    margin-top: 4vh;
}
.avtr img{
    height: 6.5vh;
    border-radius: 50%;
}

.list{
    margin-top: 5vh;
}

.list ul li{
    padding-inline: 4vh;
    padding-block: 1vh;
    border-radius: 5px;
}

.list ul li:hover{
    background-color: black;    
}
.list :hover{
    color: #D22B2B;
}